# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# VS Code
.vscode/

# Logs
*.log

# PyInstaller output
dist/
build/
*.spec
*.exe

# Do NOT track accidental image files dropped into project
*.jpg
*.jpeg
*.png

# OS junk
Thumbs.db
Desktop.ini
.DS_Store
dist/
build/
.venv/
__pycache__/
